@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, html, body, h1, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, html, body, h1, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  height: 92vh;
}

.container {
  margin: 0 !important;
}

.header__container {
  min-height: 100%;
  overflow: hidden;
  background-color: #161616;
  position: relative;
}

.circle {
  height: 420px;
  width: 660px;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(155, 49, 0, 0.925) 8%, rgb(221, 44, 0) 18%, rgb(227, 106, 0) 53%, rgba(230, 208, 115, 0.959) 120%);
  transform: translate(70vw);
  margin-top: 12vh;
  background-size: 200%;
  -webkit-animation: bg-gradient 10s infinite alternate;
          animation: bg-gradient 10s infinite alternate;
}

.blur {
  position: absolute;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  top: 0vh;
  left: 0;
  width: 100%;
  min-height: 100%;
}

@-webkit-keyframes bg-gradient {
  0% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-gradient {
  0% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}
.header__blur--cont {
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 0.1rem;
}

.header__h1 {
  color: whitesmoke;
  margin-top: 26vh;
  width: 16rem;
  font-size: 2.8rem;
  padding-left: 0.5rem;
  font-family: diamond;
  font-weight: lighter;
}

.header__p {
  color: #c5c5c5;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.btn {
  height: 2.8rem;
  width: 14rem;
  border-radius: 25px;
  display: inline-block;
  background-color: #161616;
  color: #F0F0F0;
  font-size: 1rem;
  font-weight: semi-bold;
  border: solid 2px #F0F0F0;
  outline: none;
  margin-top: 2.6rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #F0F0F0;
  border-radius: 25px;
  z-index: -1;
  transition: width 0.5s;
}

.btn-effect:hover {
  color: rgb(14, 14, 14);
  font-weight: bold;
}

.btn-effect:hover::before {
  width: 100%;
}

.socials {
  height: 200px;
  font-size: 1.6rem;
  color: #F0F0F0;
  margin-top: 1.6rem;
  display: flex;
}

.fa-linkedin {
  padding-left: 1.5rem;
}

.fa-github {
  padding-left: 0.2rem;
}

.socials__a {
  text-decoration: none;
  color: #F0F0F0;
}

.socials__a:hover {
  color: #999999;
}

.arrow {
  font-size: 2rem;
  color: #F0F0F0;
  display: none;
  cursor: pointer;
}
.arrow:hover {
  color: #999999;
  -webkit-animation: arrow2 1.5s alternate infinite;
          animation: arrow2 1.5s alternate infinite;
}

@-webkit-keyframes arrow2 {
  0% {
    transform: translateY(-3%);
  }
  75% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateY(-3%);
  }
  75% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (min-width: 525px) {
  .header__h1 {
    width: 100%;
    margin-top: 20vh;
    padding-left: 2rem;
    font-size: 4.5rem;
  }
  .header__p {
    padding-left: 2rem;
    color: #c5c5c5;
  }
  .container {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .arrow {
    padding-top: 2rem;
    display: inline-block;
    font-size: 2.4rem;
  }
  .btn {
    margin-top: 2rem;
  }
  .socials {
    justify-content: flex-end;
    font-size: 2.4rem;
  }
  .fa-github {
    margin-right: 0.6rem;
  }
}
@media screen and (min-width: 777px) {
  .header__h1 {
    margin-top: 46vh;
  }
  .container {
    margin: 0 !important;
  }
  .fa-github {
    margin-left: 4rem;
  }
}
@media screen and (min-width: 2000px) {
  .circle {
    height: 800px;
    width: 1400px;
  }
  .header__h1 {
    padding-left: 10rem;
  }
  .header__p {
    padding-left: 10rem;
  }
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, html, body, h1, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.nav {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  background-color: rgba(14, 14, 14, 0.7);
}
.nav__cont {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
}
.nav__cont--ul {
  display: flex;
  list-style: none;
  font-family: "Roboto", sans-serif;
  padding-top: 0.4rem;
}
.nav__cont--ul-li a {
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
  color: #F0F0F0;
}
.nav__cont--ul-li a:hover, .nav__cont--ul-li a:focus {
  color: #999999;
}
.nav__logo {
  color: #F0F0F0;
  font-family: diamond;
  font-weight: 100;
  font-size: 1.4rem;
  letter-spacing: 5px;
  padding-left: 2rem;
  padding-top: 0.6rem;
  display: flex;
  align-items: center;
}
.nav__menu {
  display: none;
  padding-right: 1rem;
}

.fa-bars {
  font-size: 1.4rem;
  color: #F0F0F0;
}

.nav-active {
  transform: translateX(0%);
  -webkit-animation: nav 1.5s;
          animation: nav 1.5s;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav__menu {
    display: inline-block;
    padding-right: 0.8rem;
  }
  .nav__cont {
    border: none;
  }
  .nav__cont--ul {
    overflow: hidden;
    position: absolute;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    z-index: 1999;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    transform: translateX(200%);
    top: 8vh;
    width: 36%;
    height: 100%;
    box-shadow: 0px 5px 5px 4px rgb(14, 14, 14);
  }
  .nav__cont--ul-li {
    margin: 1rem;
    padding-top: 1rem;
  }
  .nav-active {
    transform: translateX(0%);
    -webkit-animation: nav 1.5s;
            animation: nav 1.5s;
  }
  .display-none {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .nav__cont--ul {
    width: 60%;
  }
}
@-webkit-keyframes nav {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
@keyframes nav {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, html, body, h1, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100vh;
}
.section__main {
  margin: 2rem 0rem 2rem 0rem;
}

.skills {
  background-color: rgba(14, 14, 14, 0.7);
  height: 16vh;
  width: 100vw;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

section .fa-brands {
  color: #F0F0F0;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  max-width: 90%;
}

.section__row {
  margin: 0rem 2rem 0rem 2rem;
  padding: 2.5rem 0 0rem 0 !important;
}
.section__row--col {
  color: #F0F0F0;
  justify-content: left;
}
.section__row--col h3 {
  color: #999999;
  font-size: 1.6rem;
  font-family: "diamond";
}
.section__row--col h4 {
  font-size: 2.6rem;
}
.section__row--col p {
  color: #c5c5c5;
}
.section__row--col-num {
  color: #545454;
  display: flex;
  justify-content: right;
  font-family: "diamond";
  font-size: 1.6rem;
}

.blob-cont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@-webkit-keyframes move {
  0% {
    transform: translate(18%, 12%);
  }
  33% {
    transform: translate(-48%, 18%);
  }
  66% {
    transform: translate(-80%, -12%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes move {
  0% {
    transform: translate(18%, 12%);
  }
  33% {
    transform: translate(-48%, 18%);
  }
  66% {
    transform: translate(-80%, -12%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes blob {
  0% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}
@keyframes blob {
  0% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}
.blob {
  border-radius: 30% 70% 70% 30%/30% 36% 64% 70%;
  background-image: linear-gradient(45deg, rgba(131, 0, 0, 0.952) 8%, rgba(230, 67, 45, 0.945) 18%, rgb(243, 102, 59) 53%, rgba(241, 211, 146, 0.959) 100%);
  height: 140px;
  width: 140px;
  background-size: 150%;
  -webkit-animation: move 10s infinite alternate ease-in-out, blob 6s infinite alternate;
          animation: move 10s infinite alternate ease-in-out, blob 6s infinite alternate;
}

.blob__blur {
  height: 280px;
  width: 280px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-70px, -80px);
}

@media screen and (max-width: 767px) {
  .blob-cont {
    display: none;
  }
  .section__main {
    padding-bottom: 2rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 998px) {
  .section__row--col h4 {
    font-size: 1.5rem;
  }
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "diamond";
  src: url("../assets/diamondbridgedemo.woff2") format("woff2"), url("../assets/diamondbridgedemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mirra";
  src: url("../assets/mirra.woff2") format("woff2"), url("../assets/mirra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fiori_doratiregular";
  src: url("../assets/fioridoratiregular.woff2") format("woff2"), url("../assets/fioridoratiregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "midtown";
  src: url("../assets/midtown-groveed-regular.woff2") format("woff2"), url("../assets/midtown-groveed-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lithium";
  src: url("../assets/lithium_tf.woff2") format("woff2"), url("../assets/lithium_tf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*, html, body, h1, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 100vh;
}
.section__main {
  margin: 2rem 0rem 2rem 0rem;
}

.skills {
  background-color: rgba(14, 14, 14, 0.7);
  height: 16vh;
  width: 100vw;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

section .fa-brands {
  color: #F0F0F0;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  max-width: 90%;
}

.section__row {
  margin: 0rem 2rem 0rem 2rem;
  padding: 2.5rem 0 0rem 0 !important;
}
.section__row--col {
  color: #F0F0F0;
  justify-content: left;
}
.section__row--col h3 {
  color: #999999;
  font-size: 1.6rem;
  font-family: "diamond";
}
.section__row--col h4 {
  font-size: 2.6rem;
}
.section__row--col p {
  color: #c5c5c5;
}
.section__row--col-num {
  color: #545454;
  display: flex;
  justify-content: right;
  font-family: "diamond";
  font-size: 1.6rem;
}

.blob-cont {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes move {
  0% {
    transform: translate(18%, 12%);
  }
  33% {
    transform: translate(-48%, 18%);
  }
  66% {
    transform: translate(-80%, -12%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes blob {
  0% {
    background-position: top;
  }
  50% {
    background-position: right;
  }
  75% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}
.blob {
  border-radius: 30% 70% 70% 30%/30% 36% 64% 70%;
  background-image: linear-gradient(45deg, rgba(131, 0, 0, 0.952) 8%, rgba(230, 67, 45, 0.945) 18%, rgb(243, 102, 59) 53%, rgba(241, 211, 146, 0.959) 100%);
  height: 140px;
  width: 140px;
  background-size: 150%;
  -webkit-animation: move 10s infinite alternate ease-in-out, blob 6s infinite alternate;
          animation: move 10s infinite alternate ease-in-out, blob 6s infinite alternate;
}

.blob__blur {
  height: 280px;
  width: 280px;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-70px, -80px);
}

@media screen and (max-width: 767px) {
  .blob-cont {
    display: none;
  }
  .section__main {
    padding-bottom: 2rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 998px) {
  .section__row--col h4 {
    font-size: 1.5rem;
  }
}
.projects {
  height: 100vh;
}

.p__cont {
  background-color: #161616;
  height: 100%;
  width: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.p__bg {
  background-image: linear-gradient(45deg, rgba(131, 0, 0, 0.952) 8%, rgba(230, 67, 45, 0.945) 18%, rgb(243, 102, 59) 53%, rgba(241, 211, 146, 0.959) 100%);
  background-size: 150%;
  height: 200px;
  width: 200px;
  padding: 1rem;
  border-radius: 50%;
  animation: border 10s infinite alternate ease-in-out, blob 6s infinite alternate, wave 35s infinite alternate-reverse ease-in-out;
}

.p__blur {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 100%;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.p__blur--row {
  display: flex;
  justify-content: center;
  margin-top: 0 !important;
  position: absolute;
  top: 0;
}
.p__blur--row-c {
  display: flex;
  justify-content: center;
  border: solid #999999 1px;
  margin: 2.5rem;
  height: 70vh;
  width: 24vw;
  border-radius: 35px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(54, 54, 54, 0.5);
}

.projects h4 {
  color: #F0F0F0;
  position: relative;
  margin: 1rem;
}

.section__row--col-p h3 {
  color: #F0F0F0;
  font-size: 2.6rem;
  font-family: "diamond";
}

.hr-rounded {
  border: top 2px;
  color: #c5c5c5;
}

@-webkit-keyframes border {
  0% {
    border-radius: 62% 38% 64% 36%/33% 24% 76% 67%;
  }
  100% {
    border-radius: 61% 39% 40% 60%/44% 68% 32% 56%;
  }
}

@keyframes border {
  0% {
    border-radius: 62% 38% 64% 36%/33% 24% 76% 67%;
  }
  100% {
    border-radius: 61% 39% 40% 60%/44% 68% 32% 56%;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate(-100%, 95%);
  }
  50% {
    transform: translate(0%, 70%);
  }
  100% {
    transform: translate(100%, 95%);
  }
}
@keyframes wave {
  0% {
    transform: translate(-100%, 95%);
  }
  50% {
    transform: translate(0%, 70%);
  }
  100% {
    transform: translate(100%, 95%);
  }
}
@media screen and (max-width: 768px) {
  .p__bg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .p__blur--row-c {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 80vw;
  }
}
@media screen and (max-width: 998px) {
  .p__blur--row-c {
    padding: 1rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
}/*# sourceMappingURL=main.css.map */