@import 'variables','reset';


.section{
    padding:0!important;
    margin:0!important;
    min-height:100vh;
    &__main{
        margin:2rem 0rem 2rem 0rem;
    }
}

.skills{
    background-color:rgba(14, 14, 14, 0.7);
    height:16vh;
    width:100vw;
    margin-right:0 !important;
    margin-left:0 !important;
}

section .icons .fa-brands{
    color:$neutral100;
    font-size:4rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.skills col-4{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hr{
    max-width:90%;
}
.section__row{
    margin:0rem 2rem 0rem 2rem;
    padding: 2.5rem 0 0rem 0  !important;

    &--col{
        color:$neutral100;
        justify-content:left;
        & h3{
            color:$neutral300;
            font-size:map-get($font-size,subheading);
            font-family:'diamond';
        }
        & h4{
            font-size:map-get($font-size,heading);
        }
        & p{
            color:$neutral200;
        }
        &-num{
            color:$neutral400;
            display:flex;
            justify-content:right;
            font-family:'diamond';
            font-size:map-get($font-size,subheading);
        }
    }
}


.blob-cont{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
@keyframes move{
    0%{
        transform:translate(18%, 12%);
    }
    33%{
        transform:translate(-48%,18%);
    }
    66%{
        transform:translate(-80%,-12%)
    }
    100%{
        transform:translate(0%,0%);
    }
}


@keyframes blob{
    0%{
        background-position:top;
    }
    50%{
        background-position:right;
    }
    75%{
        background-position:bottom;
    }
    100%{
        background-position:left;
    }
}

.blob{
    border-radius:30% 70% 70% 30% / 30% 36% 64% 70% ;
    background-image:$gradient2;
    height:140px;
    width:140px;
    background-size:150%;
    animation:move 10s infinite alternate ease-in-out,blob 6s infinite alternate;
}
.blob__blur{ 
    height:280px;
    width:280px;
    backdrop-filter:blur(25px);
    border-radius:50% ;
    position:absolute;
    top:0;
    left:0;
    transform:translate(-70px, -80px);
}

@media screen and (max-width:767px){
    .blob-cont{
        display:none;
    }
    .section__main{
        padding-bottom:2rem!important;
    }
}
@media screen and (min-width:768px)and(max-width:998px){
    .section__row--col h4{
        font-size:1.5rem;
    }
}