@import 'reset','variables';


.nav{
    height:8vh;
    display:flex;
    justify-content:space-between;
    align-content:center;
    overflow:hidden;
    background-color:rgba(14, 14, 14, 0.7);

    &__cont{
        display:flex;
        align-items:center;
        padding-top:0.4rem;
        
        &--ul{
            display:flex;
            list-style: none;
            font-family: 'Roboto', sans-serif;
            padding-top:0.4rem;
            
            &-li a{
                padding-left:2rem;
                padding-right:2rem;
                text-decoration: none;
                color:$neutral100;
                &:hover,&:focus{
                    color:$neutral300;
                }
            }
        }
    }
    &__logo{
        color:$neutral100;
        font-family:diamond;
        font-weight:100;
        font-size:1.4rem;
        letter-spacing:5px;

        padding-left:2rem;
        padding-top:0.6rem;

        display:flex;
        align-items:center;
        
    }
    &__menu{
        display:none;
        padding-right:1rem;
        
    }
}
.fa-bars{
    font-size:1.4rem;
    color:$neutral100;
}

.nav-active{
    transform:translateX(0%);
    animation: nav 1.5s;}

@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
    }
    .nav__menu{
        display:inline-block;
        padding-right:0.8rem;
    }
    .nav__cont{
        border:none;

    }
    .nav__cont--ul{
        overflow:hidden;
        position:absolute;
        right:0px;
        background-color:rgba(0, 0, 0, 0.60);
        backdrop-filter:blur(15px);
        z-index:1999;
        flex-direction: column;
        align-items:space-around;
        justify-content:center;
        transform:translateX(200%);
        top:8vh;

        width:36%;
        height:100%;
        box-shadow:0px 5px 5px 4px $neutral700;
        &-li{
            margin:1rem;
            padding-top:1rem;
        }
    }
    .nav-active{
    transform:translateX(0%);
    animation: nav 1.5s;
    }
    .display-none{
        display:none;
    }
}

@media screen and (max-width:400px){
    .nav__cont--ul{
        width:60%;
    }
}

@keyframes nav{
    0%{
        opacity:0;
        transform:translateX(100%);
    }
    100%{
        opacity:100%;
        transform:translateX(0%);
    }
}