@import 'variables','about';

.projects{
    min-height:100vh;
    padding: 0 !important;
}

.p__cont{
    background-color:$neutral600;
    min-height:100vh;
    width:100%;
    padding:1rem;
    position:relative;
    display:flex;
    justify-content: center;
    border:red solid 1px;
}

.p__bg{
    background-image:$gradient2;
    background-size:150%;
    height:220px;
    width:220px;
    padding:1rem;
    border-radius: 50%;
    animation: border 10s infinite alternate ease-in-out,blob 6s infinite alternate, wave 35s infinite alternate-reverse ease-in-out ;

    
}

.p__blur{
    backdrop-filter:blur(15px);
    min-height:100vh;
    width:100%;
    padding:1rem;
    position:absolute;
    top:0;
    left:0;

    &--row{
        display:flex;
        justify-content: center;
        margin-top:0 !important;
        position:absolute;
        top:0;
        left:0;
        z-index:3;
        border: solid blue 2px;

        &-c{
            display:flex;
            flex-direction: column;
            align-content: center;
            justify-items:center;
            border: solid $neutral300 1px;
            margin:2.5rem;
            height:70vh;
            width:24vw;
            border-radius:35px;
            backdrop-filter: blur(5px);
            background-color:$neutral400t;
            padding:1rem 2rem 1rem 2rem;
            &:hover{
                animation:scale 1.8s ease-in-out;
            }
            & .row1{
                height:50%;
            }
            & .row2{
                height:30%;
            }
            & .row3{
                height:20%;
            }
        }
    }

    }
    
//cards content
.card__img{
    height:100%;
    max-width:100%;
}
.p__blur--row-c img{
    border-radius:20%;
}
.card__btn{
    display:flex;
    align-items:center;
    & button{
        border-radius:25px;
        background-color:$neutral100;
        color:$neutral600;
        padding:0.5rem;
        width:60%;
        border:$neutral600;
        font-family: 'Roboto', sans-serif;
        font-weight:400;
        &:hover{
            background-color:$neutral200;
        }
    }
}

.card-github{
    font-size:2rem;
    padding-left:1rem;
    color:$neutral100;
    &:hover{
        color:$neutral300;
    }
}
.card__body{
    padding-top:1rem;
    & h5{
        color:$neutral100;
        font-size:map-get($font-size,subheading);
    }
    & p{
        color:$neutral200;
    }
}


.projects h4{
    color:$neutral100;
    position:relative;
    margin:1rem;
}

.section__row--col-p h3{
    color:$neutral100;
    font-size:map-get($font-size,heading);
    font-family:'diamond';

}
.hr-rounded{
    border: top 2px;
    color:$neutral200;
}


@keyframes border{
    0%{
        border-radius:62% 38% 64% 36% / 33% 24% 76% 67%  ;
    }
    100%{
        border-radius:61% 39% 40% 60% / 44% 68% 32% 56% ;
    }
}
@keyframes wave{
    0%{
        transform:translate(-100%, 85%);
    }
    50%{
        transform:translate(0%,70%);
    }
    100%{
        transform:translate(100%,85%);
    }
}

//card animation
@keyframes scale{
    50%{
        transform:scale(1.04,1.04);
    }
}


@media screen and (max-width:768px){
    .p__bg{
        display:none;
    }
}

@media screen and (max-width:768px){
    .p__blur--row-c{
        padding:0;
        margin-left:0;
        margin-right:0;
        width:80vw;
    }
}

@media screen and (max-width:998px){
    .p__blur--row-c{
        padding:1rem;
        margin-left:0.4rem;
        margin-right:0.4rem;
    }
}

@media screen and (min-width:426px)and(max-width:768px){
    .projects .col-6{
        margin-left:3rem;
    }
    .p__blur--row-c{
        padding:0;
    }
}

.section p, h5{
    font-family: 'Roboto', sans-serif;
}
.section h5{
    font-weight:100;
}