$neutral100:#F0F0F0;
$neutral200:#c5c5c5;
$neutral300:#999999;
$neutral400:#545454;
$neutral500:#242424;
$neutral600:#161616;
$neutral400t:rgba(54, 54, 54, 0.5);
$neutral700:rgb(14, 14, 14);

$gradient:radial-gradient(circle, rgba(155, 49, 0, 0.925) 8%, rgb(221, 44, 0) 18%, rgba(227,106,0,1) 53%, rgba(230, 208, 115, 0.959) 120%);
$gradient2:linear-gradient(45deg,rgba(131, 0, 0, 0.952) 8%, rgba(230, 67, 45, 0.945) 18%, rgb(243, 102, 59) 53%, rgba(241, 211, 146, 0.959) 100%);

$font-weights:(
    "light":200,
    "reg":400,
    "bold":600
);

$font-size:(
    "body":1rem,
    "subheading":1.6rem,
    "heading":2.6rem,
    "h1-mobile":2.8,
    "h1-desktop":4.5
);

$spacing:(
    "margins-mobile":0.5,
    "margins-desktop":2rem
);

@font-face {
    font-family: 'diamond';
    src: url('../assets/diamondbridgedemo.woff2') format('woff2'),
         url('../assets/diamondbridgedemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mirra';
    src: url('../assets/mirra.woff2') format('woff2'),
         url('../assets/mirra.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fiori_doratiregular';
    src: url('../assets/fioridoratiregular.woff2') format('woff2'),
         url('../assets/fioridoratiregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'midtown';
    src: url('../assets/midtown-groveed-regular.woff2') format('woff2'),
         url('../assets/midtown-groveed-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lithium';
    src: url('../assets/lithium_tf.woff2') format('woff2'),
         url('../assets/lithium_tf.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}