$neutral100:#F0F0F0;
$neutral200:#CECECE;
$neutral300:#999999;
$neutral400:#545454;
$neutral500:#242424;
$neutral600:#1A1A1A;

$gradient:radial-gradient(circle, rgba(155, 49, 0, 0.925) 8%, rgb(221, 44, 0) 18%, rgba(227,106,0,1) 53%, rgba(230, 208, 115, 0.959) 120%);


$font-weights:(
    "light":200,
    "reg":400,
    "bold":600
);

$font-size:(
    "body":1rem,
    "subheading":1.6rem,
    "heading":2rem,
    "h1-mobile":2.8,
    "h1-desktop":4.5
);

$spacing:(
    "margins-mobile":0.5,
    "margins-desktop":2rem
);

@font-face {
    font-family: 'diamond_bridge_demoregular';
    src: url('../assets/diamondbridgedemo.woff2') format('woff2'),
         url('../assets/diamondbridgedemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}